# Node.js dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.*.local
.env.uat
.env.prod


# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript cache
*.tsbuildinfo

# OS and Editor files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
*.swp

# Husky internal files (except hooks)
.husky/_/

# Coverage directory (e.g., Jest or other testing tools)
coverage/

# Optional: PM2 logs
pids/
*.pid
*.seed
*.pid.lock

# Optional: Docker
docker-compose.override.yml

# Optional: Local database or dump files
*.sqlite
*.sqlite3
*.db
*.db-journal
*.sql
*.dump

# Lint cache
.eslintcache

# Prettier log
.prettiercache
.prettierignore

# Debuggers
.vscode/launch.json

# Yarn v2+
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
