option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: 8080
    NODE_ENV: production
    DATABASE_URL: mongodb+srv://k2renewals:pitzPmCHh2OD6tJE@k2weigh.czpk76i.mongodb.net/?retryWrites=true&w=majority&appName=k2weigh
    REDIS_URL: redis://default:WKIjGOLDmPZF6aVxBo0tbZgj9JUpQcZm@redis-15329.c270.us-east-1-3.ec2.redns.redis-cloud.com:15329
    JWT_SECRET: k2renewalsecretkey
    AWS_REGION: ap-south-1
    S3_UPLOADS_BUCKET: weighingapp-storage
    S3_UPLOADS_PREFIX: uploads
    S3_KMS_KEY_ID: 1cda4a78-94b4-4fdb-906c-44da4c0168dc
    INVOICE_SIGNATURE_SECRET: k2renewalssigningsecretminimum32characterslong
    CACHE_LOGGING: "false"
